/*
 * Custom Variables
 * 
 * This file must be loaded before bootstrap/_variables.scss. It defines variables 
 * that will be set to defaults in that file if they are not defined here. The values
 * set in the two variables files will cascade through the other Bootstrap SCCS code. 
 * 
 * This file also defines:
 * - custom svg icons
 * - some variables that are not set or used in Bootstrap 
 * 
 * @package McBoots-2018
 * version 0.1
 */

/* ==========================================================================
   NOTE: THIS IS JUST A SAMPLE; NONE OF THESE DEFINITIONS ARE NECESSARY
   ========================================================================== */

/* ==========================================================================
   Grid
   ========================================================================== */
//$grid-gutter-width: 40px;


/* ==========================================================================
   Theme Color Palette (overrides)
   ========================================================================== */

$white:    #fff;


/* ==========================================================================
   Typography
   ========================================================================== */

$font-family-sans-serif:	"Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
//$font-family-logo:			"ITC Obelisk W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:			"Times New Roman", Times, serif;

$headings-font-weight:		normal;
$font-weight-medium:		500;


/* ==========================================================================
   Navigation Menus
   ========================================================================== */

$dropdown-spacer: 0;
$dropdown-border-radius: 0;